
*{
  /* outline: 1px solid red; */
}

::-webkit-scrollbar{
  display: none;
}


.center{
  display: flex;justify-content: center;
  &.left{display: grid;align-items: center;justify-content: left;}
  &.right{display: grid;align-items: center;justify-content: right;}
  &.top{display: grid;align-items: end;justify-content:left;}
  &.bottom{display: grid;align-items: start;justify-content: left;}
}
.middle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.right{
  display: grid;
  justify-content: right;
}


:root{
  --home-backgroundColor:rgb(0, 0, 0);
  --card-backgroundColor:rgb(43, 43, 43);
  --tabs-backgroundColor:rgba(255, 166, 0, 0.219);
  --tabs-Color:rgb(255, 165, 0);;
}